:root {
    --bkgcolor-menores: #189C8E;
    --titulos-cor: #117468;
    --subtitile-color: #455669;
    --frutas-color: #233044;
    --descricao-color: #117468;
    --descricao-bkgcolor: #d4fdef;
    --btn-bkgcolor: #49AB9F;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, #eefaf7, #d4f4ff);
    min-height: 100vh;
}

div.cabecalho {
    padding: 15px;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border-radius: 10px;
    margin: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.botoes {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.botoes button {
    background-color: var(--btn-bkgcolor);
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

div.box-container {
    padding-bottom: 65px;
    margin: 12px 21px;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-container .content {
    padding: 35px 20px;
}

.title {
    margin-bottom: 15px;
    color: var(--titulos-cor);
    font-weight: bold;
}

.content p {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: var(--subtitile-color);
}

div.box-container .content button {
    margin-top: 25px;
    padding: 7px 0;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
}

.sorvetinho {
    margin: 20px;
    padding: 30px;
    width: 180px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(circle at 20% 20%, #ffffff, #c4f3e6 40%, #9be7ff 75%);
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.flavors-content {
    padding: 10px 20px;
}

.flavors-content p {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: var(--subtitile-color);
}

.sabores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.bloco-sabor {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: #fff;
    width: 150px;
    display: flex;
    font-size: small;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(212, 212, 212, 0.863);
    gap: 5px;
}

.bloco-sabor p {
    line-height: 35px;
    font-size: large;
    font-weight: bold;
}

.bloco-sabor span {
    background-color: var(--descricao-bkgcolor);
    padding: 2px 5px;
    font-size: xx-small;
    border-radius: 10px;
    color: var(--descricao-color);
}

.bloco-sabor .price {
    opacity: 75%;
}

.bloco-sabor .emoji {
    font-size: xx-large;
}

.combos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
    margin: 0px 30px;
}

.bloco-combo {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 15px;
    width: 570px;
    border-left: 5px solid var(--btn-bkgcolor)
}

.bloco-combo h3 {
    font-size: 17px;
    color: var(--titulos-cor);
}

.bloco-combo p {
    font-size: small;
    opacity: 60%;
    font-weight: bold;
}

.bloco-combo .price {
    opacity: 100%;
    font-size: medium;
    margin-top: 12px;
}

.rodape {
    padding: 15px;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border-radius: 10px;
    margin: 23px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.rodape .info {
    line-height: 25px;
    font-size: 15px;
}

.rodape .contacts {
    display: flex;
}

.rodape .tel {
    background-color: var(--btn-bkgcolor);
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.rodape .insta {
    background-color: var(--btn-bkgcolor);
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}