:root {
    --bkgcolor-menores: #189C8E;
    --titulos-cor: #117468;
    --subtitile-color: #455669;
    --frutas-color: #233044;
    --descricao-color: #117468;
    --descricao-bkgcolor: #E7F9F3;
    --btn-bkgcolor: #49AB9F;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, #eefaf7, #d4f4ff);
    min-height: 100vh;
}

div.cabecalho {
    padding: 15px;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border-radius: 10px;
    margin: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.botoes {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.botoes button {
    background-color: var(--btn-bkgcolor);
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

div.box-container {
    padding: 35px 20px;
    margin: 12px 21px;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    margin-bottom: 15px;
    color: var(--titulos-cor);
    font-weight: bold;
}

.content p {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: var(--subtitile-color);
}

div.box-container .content button {
    margin-top: 25px;
    padding: 7px 0;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
}

.sorvetinho {
    flex-wrap: wrap;
    background: radial-gradient(circle at 20% 20%, #ffffff, #c4f3e6 40%, #9be7ff 75%);
    justify-content: center;
    align-content: center;
    font-size: 50px;
}

.flavors-content {
    padding: 10px 20px;
}

.flavors-content p {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: var(--subtitile-color);
}

.sabores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bloco-sabor {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 120px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape {
    padding: 15px;
    background-color: var(--bkgcolor-menores);
    color: #fff;
    border-radius: 10px;
    margin: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}